%td
  = link_to user.email, user
%td
  = user.created_at.to_s
%td
  = user.current_sign_in_at.to_s
%td
  = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user
