    <h3>Users</h3>
    <div class="column">
      <table class="table">
	    <thead><tr>
		  <th>User Email</th>
		  <th>Created At</th>
		  <th>Last LogIn At</th>
		  <th></th>
		</tr></thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
